<!-- views/partials/footer.ejs -->
<footer>
  <section id="contact">
    <h2>WeCare</h2>
    <p>Leading the Way in Medical Excellence, Trusted Care.</p>
    <div class="footer-content">
      <div class="footer-col">
        <h4>Important Links</h4>
        <ul>
          <li>Appointment</li>
          <li>Find a nurse</li>
          <li>Services</li>
          <li>About Us</li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contact Us</h4>
        <p>Call: 91+ 8973678902</p>
        <p>Email: wecare@gmail.com</p>
        <p>Address: Gurgaon, India</p>
      </div>
      <div class="footer-col">
        <h4>Subscribe to our Newsletter</h4>
        <div class="newsletter">
          <input type="email" placeholder="Enter your email address">
          <button>Subscribe</button>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© All Rights Reserved by WeCare</p>
    </div>
  </section>
</footer>