
<!-- Header/Navbar -->
<header>
  <nav class="navbar">
    <div class="logo">WeCare</div>
    <ul class="nav-links">
      <li><a href="/" class="<%= page === 'home' ? 'active' : '' %>">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="/nurses" class="<%= page === 'nurses' ? 'active' : '' %>">Nurses</a></li>
      <li><a href="/news" class="<%= page === 'news' ? 'active' : '' %>">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="/services" class="<%= page === 'services' ? 'active' : '' %>">Service</a></li>
    </ul>
    <a href="/login"><button class="login_btn">Login</button></a>
  </nav>
</header>
