
* { margin: 0; 
  padding: 0; 
  box-sizing: border-box; }
body { font-family: Arial, sans-serif; 
  line-height: 1.6; 
  color: #333; }


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #1a3d7c;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo { font-size: 1.5rem; 
  font-weight: bold; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-links a:hover { color: #90e0ef; }

.login_btn {
  background: #fff;
  border: none;
  padding: 8px 15px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

.login_btn:hover { background: #0096c7; }


.hero {
  position: relative;
  background: url("https://i.pinimg.com/1200x/db/cd/1d/dbcd1dd88f1f3b4a2f391921c82a77e2.jpg") no-repeat center center/cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(62, 115, 194, 0.668);
}

.hero-content {
  position: relative;
  max-width: 800px;
  z-index: 1;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
   font-family: "Playfair Display", serif;
}



.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  background: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

.search-box input,
.search-box select {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.search-box button {
  padding: 10px 20px;
  background: #4a90e2;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background: #1e40af;
}

.about-container {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 60px;
}

.about-section {
  margin: 80px auto;
  padding: 40px 20px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.about-content {
  flex: 1;
  padding-left: 20px;
}

.about-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #1b3053;
  line-height: 1.2;
  font-family: "Playfair Display", serif;
  
}

.description {
  margin-bottom: 40px;
  color: #555;
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;

}

.points {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 20px;
}

.point {
  background: #ffffff;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  border: 1px solid #f0f0f0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.point:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.point i {
  font-size: 32px;
  color: #1b74e4;
  flex-shrink: 0;
  margin-top: 4px;
}

.point h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #1b3053;
  line-height: 1.3;
}

.point p {
  font-size: 14px;
  color: #313030;
  line-height: 1.5;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.doctors-section {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.header {
  text-align: left;
  margin-bottom: 40px;
}

.subtitle {
  color: #4a90e2;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 300;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.doctors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
}

.doctor-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  width: 260px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.doctor-card:hover {
  transform: translateY(-8px);
}

.doctor-img img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.doctor-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.designation {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.rating {
  font-size: 14px;
  color: #f39c12;
  margin-bottom: 15px;
  font-weight: 500;
}


.book-btn {
  background: #4a90e2;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.book-btn:hover {
  background: #357ab9;
}

.stats {
  text-align: center;
  padding: 60px 10%;
  background: #eaf3ff;
  border-radius: 12px;
  margin: 40px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.stats h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #444;
  font-weight: normal;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 300;
}

.stats h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #1a3d7c;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.stats-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.stat-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.stat-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 16px rgba(0,0,0,0.15);
}

.stat-card h3 {
  font-size: 1.8rem;
  color: #1a73e8;
  margin-bottom: 10px;
}

.testimonial-section {
  text-align: center;
  padding: 60px 20px;
}

.section-subtitle {
  color: #c74b4b;
  font-weight: 500;
  margin-bottom: 8px;
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
  font-family:"Playfair Display", serif ;
  color: #1b3053;
}


.testimonial-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}


.testimonial-card {
  background: #fff;
  width: 320px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  position: relative;
  text-align: left;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-8px);
}


.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.user-info span {
  font-size: 14px;
  color: #777;
}

.testimonial-text {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  padding-right: 30px; 
  font-family: Arial, Helvetica, sans-serif;
}


.quote-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 28px;
  opacity: 0.7;
}

.quote-icon.purple {
  color: #6c63ff;
}

.quote-icon.pink {
  color: #ff4d7e;
}



footer {
  background: #eaf3ff;
  padding: 20px 10%; 
  text-align: center;
  margin-top: 20px; 
  border-top: 2px solid #dce6f5;
}

footer h2 {
  color: #1a3d7c;
  margin-bottom: 5px; 
  font-family: "Playfair Display", serif ;
  font-size: 30px;
}

footer p {
  margin-bottom: 10px; 
  color: #3f3f3f;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 15px; 
}

.footer-col {
  flex: 1;
  margin: 10px; 
}

.footer-col h4 {
  margin-bottom: 10px; 
  color: #1a3d7c;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.footer-col ul li {
  margin-bottom: 8px; 
  color: #404040;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-col ul li:hover {
  color: #1a73e8;
}

.newsletter {
  display: flex;
  gap: 10px;
}

.newsletter input {
  padding: 8px; 
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.newsletter button {
  padding: 8px 12px; 
  border: none;
  background: #1a73e8;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.newsletter button:hover {
  background: #155bb5;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #393838;
  padding-top: 10px; 
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-bottom p {
  color: #666;
  margin: 0; 
}

.footer-col p{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}