/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.menu {
  list-style: none;
}

.menu li {
  padding: 12px 10px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;
}

.menu li:hover,
.menu li.active {
  background: #f6f8fa;
  color: #4a90e2;
  font-weight: 500;
}

/* Main */
.main-content {
  flex: 1;
  padding: 20px 30px;
  background: #eaf3ff;
  
  overflow-y: auto;
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.top-bar h2 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: #011941;
}

.top-bar p{
  font-size: 18px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(40, 40, 40);
}

.top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  border-radius: 50%;
}

/* Stats */
.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h3 {
  font-size: 1.6rem;
  color: #4a90e2;
  font-family: Arial, Helvetica, sans-serif;
}

/* Content Grid */
.content-grid {
  display: flex;
  gap: 25px;
}

/* Appointments */
.appointments {
  flex: 2;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

.appointments h3{
   color: #011941;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   margin-bottom: 10px;
}

.appointment-card {
  display: flex;
  align-items: center;
  background: #f9fafc;
  padding: 15px;
  border-radius: 10px;
  margin: 15px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.blue { background: #eaf3ff;}

.green { background: #eaf3ff; }
.purple { background: #eaf3ff; }


.navigate-btn {
  margin-left: auto;
  background: #4a90e2;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.navigate-btn:hover {
  background: #155ab6;
}

/* Right Side */
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Pending Requests */
.pending, .earnings {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

.pending-card {
  background: #eaf3ff;
  padding: 15px;
  border-radius: 8px;
  margin: 12px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.accept {
  background: #28862b;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.decline {
  background: #bd342a;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* Earnings */
.earnings p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.pending-pay span {
  color: #4a90e2;
  font-weight: bold;
}

.details-btn {
  width: 100%;
  padding: 10px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

.details-btn:hover {
  background: #155ab6;
}


