* { margin: 0; 
  padding: 0; 
  box-sizing: border-box; }
body { font-family: Arial, sans-serif; 
  line-height: 1.6; 
  color: #333; }


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #1a3d7c;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo { font-size: 1.5rem; 
  font-weight: bold; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links a:hover { color: #90e0ef; }

.appointment-btn {
  background: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.features-section {
  padding: 20px;
}

.features-section h1 {
  font-size: 30px;
  color: #1a3d7c;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  justify-items: center;
  max-width: 1200px;
  padding: 0 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 25px 20px;
  width: 100%;
  max-width: 220px;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #1a3d7c;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.card p {
  font-size: 13px;
  color: #404040;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.card button {
  background: #1a3d7c;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: auto;
}

.card button:hover {
  background: #0392ff;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 12px 25px rgba(0,0,0,0.15);
}


footer {
  background: #eaf3ff;
  padding: 20px 10%; 
  text-align: center;
  margin-top: 20px; 
  border-top: 2px solid #dce6f5;
}

footer h2 {
  color: #1a3d7c;
  margin-bottom: 5px; 
  font-family: "Playfair Display", serif ;
  font-size: 30px;
}

footer p {
  margin-bottom: 10px; 
  color: #3f3f3f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 15px; 
}

.footer-col {
  flex: 1;
  margin: 10px; 
}

.footer-col h4 {
  margin-bottom: 10px; 
  color: #1a3d7c;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.footer-col ul li {
  margin-bottom: 8px; 
  color: #404040;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-col ul li:hover {
  color: #1a3d7c;
}

.newsletter {
  display: flex;
  gap: 10px;
}

.newsletter input {
  padding: 8px; 
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.newsletter button {
  padding: 8px 12px;
  border: none;
  background: #1a3d7c;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.newsletter button:hover {
  background: #155bb5;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #393838;
  padding-top: 10px; 
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-bottom p {
  color: #666;
  margin: 0; 
}

.footer-col p{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}